.topBox {
  h1 {
    margin-bottom: 20px;
  }
  .list {
    .listItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      .transaction {
        display: flex;
        gap: 20px;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
        .transactionText {
            display: flex;
            flex-direction: column;
            gap: 5px;
          .transactionDate {
            font-size: 14px;
            font-weight: 500;
          }
          .transactionType {
            font-size: 12px;
          }
        }
      }
      .amount {
        font-weight: 500;
      }
    }
  }
}
