@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.deleteElement {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.724);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    padding: 40px;
    border-radius: 10px;
    background-color: $main-bg;
    position: relative;
    @include md {
      width: 90%;
    }

    h2 {
      margin-bottom: 40px;
      color: $element-color-3;
      padding: 10px;
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 10px;
      cursor: pointer;
    }
    .close:hover {
      padding: 10px;
      background-color: rgba(255, 0, 0, 0.725);
      border-radius: 5px;
    }
.deletingButtons{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

    button {
      width: 30%;
      border: none;
      border-radius: 8px;
      padding: 10px;
      transition: 0.8s;
      color: $soft-color;
      background-color: $element-color-2;
    }
    .deleteButton{
      background-color: rgba(255, 0, 0, 0.725);
    }
    button:hover {
      cursor: pointer;
      background-color: $element-color-3;
    }
    }
  }
}
