@import "../../styles/variables.scss";
@import "../../styles/global.scss";
@import "../../styles/responsive.scss";

.incomes {
  .incomesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include md {
      flex-direction: column;
      gap: 10px;
    }

    .title {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      justify-content: center;

      @include md {
        flex-direction: column;
      }
    }

    .customSelect {
      position: relative;
      width: fit-content;
      height: fit-content;

      select {
        box-shadow: 0 10px 25px rgba(0, 0, 0, 1);
        font-size: 1.2rem;
        background: rgba($element-color-2, 0.2);
        color: white;
        border: 0;
        padding: 0.5em 3em 0.5em 0.5em;
      }

      .customArrow {
        position: absolute;
        display: block;
        background: $navigation-color;
        height: 100%;
        width: 3rem;
        top: 0;
        right: 0;
        pointer-events: none;

        &::before,
        &::after {
          --size: 0.5em;

          content: "";
          position: absolute;
          width: 0;
          height: 0;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &::before {
          border-left: var(--size) solid transparent;
          border-right: var(--size) solid transparent;
          border-bottom: var(--size) solid white;
          top: 30%;
        }

        &::after {
          border-left: var(--size) solid transparent;
          border-right: var(--size) solid transparent;
          border-top: var(--size) solid white;
          top: 70%;
        }
      }

      option {
        background: $navigation-color;
        color: white;
      }
    }
  }

  .listOfAllIncomes {
    display: flex;
    flex-direction: column;
    margin: 20px;

    .incomeBoxes {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(180px, auto);
      grid-auto-flow: dense;
      @include xl{
        grid-template-columns: repeat(2, 1fr);
      }
       @include md {
            grid-template-columns: repeat(1, 1fr);
        }

      .incomeBox {
        padding: 20px;
        border-radius: 10px;
        border: 2px solid $soft-bg;
        background: linear-gradient(
          45deg,
          $navigation-color 30%,
          $element-color-2 70%
        );
        transition: 0.8s;
       
        p {
          margin: 0 0 10px;
          font-size: 1rem;
        }

        strong {
          font-weight: bold;
        }
      }
       .incomeBox:hover {
      cursor: pointer;
      box-shadow: 5px 5px 20px rgba($element-color-3, 0.4);
      transform: scale(1.05);
    }
    }
  }
}
