$sm: 480px;
$smd: 768px;
$lg: 1024px;
$xl:1200px;
$xxl: 1400px;
$xxxl: 1650px;

@mixin sm{
    @media screen and (max-width: ($sm)) {
        @content;
    }
}
@mixin md{
    @media screen and (max-width: ($smd)) {
        @content;
    }
}
@mixin lg{
    @media screen and (max-width: ($lg)) {
        @content;
    }
}
@mixin xl{
    @media screen and (max-width: ($xl)) {
        @content;
    }
}
@mixin xxl{
    @media screen and (max-width: ($xxl)) {
        @content;
    }
}
@mixin xxxl{
    @media screen and (max-width: ($xxxl)) {
        @content;
    }
}