// BG
$main-bg: #011526;
$navigation-color: #012e40;
$element-color-1: #025959;
$element-color-2: #02735e;
$element-color-3: #F28705;
// $element-color-3: #038c65;

$soft-bg: #384256;
$dark-bg: #222b3c;
//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;
