.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background: #012E40;

margin-top: auto;

  span {
    &:first-child {
      font-weight: bold;
    }
    &:last-child {
      font-size: 14px;
    }
  }
}
