@import "../../styles/responsive.scss";
@import "../../styles/variables.scss";

.installments {
  .info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  .dataTableMobile {
    display: none;
  }

  @include md {
    .info {
      flex-direction: column;
    }
    .dataTable {
      display: none;
    }
    .dataTableMobile {
      display: grid;
    }
  }
}
