@import "../../styles/responsive.scss";
@import "../../styles/variables.scss";

.installments {
  .info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    button {
      border: none;
      border-radius: 8px;
      padding: 10px;
      transition: 0.8s;
      color: $soft-color;
      background-color: $element-color-2;
    }
    button:hover {
      cursor: pointer;
      background-color: $element-color-3;
    }
  }

  .dataTableMobile {
    display: none;
  }

  @include md {
    .info {
      flex-direction: column;
    }
    .dataTable {
      display: none;
    }
    .dataTableMobile {
      display: grid;
    }
  }
}
