@import "../../../styles/variables.scss";

.updateSavingGoal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.724);
  display: flex;
  align-items: center;
  justify-content: center;

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-text-fill-color: $element-color-3; /* Set your desired text color */
    -webkit-box-shadow: 0 0 0px 1000px $navigation-color inset; /* Large inset shadow to cover background */
  }

  .modal {
    padding: 50px;
    border-radius: 10px;
    background-color: $main-bg;
    position: relative;
    h1{
        color: $element-color-3;
        margin-bottom: 30px;
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 10px;
      cursor: pointer;
    }
    .close:hover {
      padding: 10px;
      background-color: rgba(255, 0, 0, 0.725);
      border-radius: 5px;
    }

form {
      display: flex;
      flex-wrap: wrap;
      max-width: 480px;
      justify-content: space-between;
      gap: 10px;

      .wrongSavingInput {
        color: $element-color-3;
      }
       

      .item {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;

        label {
          font-size: 14px;
        }

        input {
          padding: 10px;
          background-color: transparent;
          color: $element-color-3;
          outline: none;
          border: 1px solid $element-color-1;
          border-radius: 3px;
        }
      }
      button{
        width:100%
      }
    }

  }
}
