@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.profileInformation {
  .mainInformation {
    display: flex;
    gap: 50px;
    padding: 20px;
    @include md {
      flex-direction: column;
      align-items: center;
    }

    img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
    }

    .error {
      color: red;
      margin-top: 10px;
    }

    button {
      width: 100px;
      height: 50px;
    }
    .credentials {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .credentialsDetails {
        display: flex;
        gap: 10px;
        align-items: center;
        img {
          height: 20px;
          width: 20px;
          cursor: auto;
          border-radius: 0;
        }
        p {
          color: $element-color-3;
        }
      }
    }
  }

  .userFinancialInformation {
    display: flex;
    padding: 20px;
    max-height: 100vh;
    gap: 50px;
    @include xxl {
      flex-direction: column;
    }

    .financialInformationBox {
      display: flex;
      flex-direction: column;
      gap: 10px;
      min-width: 300px;
      width: 100%; // Upewnij się, że zajmuje całą szerokość kontenera

      .financialInformationBoxHeader {
        background: linear-gradient(
          to right,
          $navigation-color,
          $element-color-2
        );
        padding: 20px;
        box-sizing: border-box; // Upewnij się, że padding jest wliczany w szerokość
        width: 100%; // Upewnij się, że zajmuje całą szerokość kontenera
      }

      .financialInformationBoxText {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 25px;
        gap: 10px;
        background-color: rgba($element-color-2, 0.1);

        .financialInformationBoxTextRow {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          margin: 0 10%;
          text-wrap: nowrap;
           @include md{
              margin: 0 0;
            }
          p {
            margin: 0;
            font-size: large;
            font-weight: 700;
           

            &.financialInformationBoxTextRowFetchedData {
              color: $element-color-3;
            }
          }
        }
      }
    }
  }
}
