.currencyBox {
  img {
    height: 50px;
    width: 50px;
  }
  .boxInfo {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px;
      gap: 10px;
      span {
        font-size: larger;
        font-weight: 700;
      }
    }
    .currency {
      width: 100%; 
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      span {
        align-self: flex-start; 
      }

      .currencyInput {
        display: flex;
        position: relative;
        align-items: center;
        width: 100%; 
        height: 40px;
        background-color: transparent;
        border: solid gray 1px;
        border-radius: 5px;

        p {
          padding-left: 10px;
        }

        input {
          height: 100%;
          width: 50%;
          border: none;
          padding-left: 20px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          background-color: transparent;
          color: white;
        }

        &::after {
          position: absolute;
          left: 50%;
          content: "";
          display: block;
          width: 1px;
          height: 60%;
          background-color: gray;
        }

        &:focus-within {
          border: solid 2px #025959 ;
        }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input[type="number"] {
          -moz-appearance: textfield;
        }

        input:focus {
          outline: none;
        }
      }
    }
  }
}
