@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.home {
  font-family: "inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
  }
  .homeContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    gap: 20px;

    .welcomeText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .applicationImg {
      margin: auto;
      img {
        height: 400px;
        width: 400px;
        border-radius: 40px;
      }
    }
     .homeBoxes {
    display: flex;
    
    gap: 20px;
    overflow-x: auto; // Dodane przewijanie pionowe

    .homeBox {
      height: 180px;
      width: 700px;
      padding: 20px;
      border-radius: 10px;
      border: 2px solid $soft-bg;
      background-color: rgb(66, 79, 90);
    }
  }
  }
}
 