@import "../../styles/variables.scss";

.dataTable {
  background-color: $navigation-color;
  .dataGrid{
    color: $main-color;
  }
  .action {
    display: flex;
    gap: 15px;

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}
