@import "../../styles/variables.scss";

.dataTable {
  align-items: center;
  background-color: $navigation-color;
  border-radius: 10px;
  color: $main-color;
  width: 90%;

  .searchBar {
    display: flex;
    margin-left: auto;
    align-items: center;
    padding: 5px;
    width: 60%;
    position: relative;

    img {
      width: 20px;
      height: 20px;
      color: $main-color;
    }

    input {
      padding: 5px;
      border: none;
      border-radius: 4px;
      outline: none;
      font-size: 16px;
      width: 100%;
      background-color: transparent;
      color: $main-color;

      &::placeholder {
        color: $main-color;
      }
    }
  }

  .searchBar::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 70%;
    border-bottom: 1px solid $element-color-2;
  }

  .rowsTable {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
    color: $main-color;

    th,
    td {
      padding: 10px;
      border-bottom: 1px solid rgba($element-color-3, 0.2);
      text-align: left;
    }
    th {
      background-color: transparent;
    }
    tbody tr:hover {
      background-color: rgba($element-color-1, 0.1);
      cursor: pointer;
    }

    .contentArea {
      .amountOfSingleInstallment {
        width: fit-content;
        padding: 10px;
        border-radius: 10px;
        background-color: rgba($main-color, 0.2);
      }
    }

    .actionButtons {
      display: flex;
      align-items: center;

      gap: 20px;

      img {
        width: 25px;
        height: 25px;
      }
    
      .paidButton {
        width: 30px;
        height: 30px;
      }
    }
  }

  tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    gap: 10px;
  }
}
