.dataTable {
  background-color: #607d8b22;
  .dataGrid{
    color: white;
  }
  .action {
    display: flex;
    gap: 15px;

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}
