.dataTableMobile {
  align-items: center;
  background-color: #607d8b22;
  border-radius: 10px;
  color: white;
  width: 100%;

  .searchBar {
    display: flex;
    margin-left: auto;
    align-items: center;
    padding: 5px;
    width: 60%;
    position: relative;

    img {
      width: 20px;
      height: 20px;
      color: white;
    }

    input {
      padding: 5px;
      border: none;
      border-radius: 4px;
      outline: none;
      font-size: 16px;
      width: 100%;
      background-color: transparent;
      color: white;

      &::placeholder {
        color: white;
      }
    }
  }

  .searchBar::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 85%;
    border-bottom: 1px solid rgb(202, 202, 202);
  }

  .rowsTable {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
    color: #ffffff;
    
    
    th,
    td {
      padding: 12px;
      border-bottom: 1px solid #555;
      text-align: left;
    }
    th {
      background-color: transparent;
    }
    tbody tr:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    .singleInstallmentPrice {
      :first-child {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        p{
          padding: 5px 10px;
          background-color: #e4dfdd5d; 
        }
       
      }
    }
  }

  tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    gap: 10px;

    button {
      background-color: rgba(143, 151, 143, 0.777);
      color: white;
      border: none;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        color: black;
        transition: 0.6s;
        transform: translateY(1px);
      }

      &:active {
        transform: translateY(2px);
      }
    }
  }
}
