@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";
.savingGoals {
  .newGoals {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    @include md {
      flex-direction: column;
    }
  }
  .goals {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;

    .box {
      padding: 20px;
      border-radius: 10px;
      border: 2px solid $soft-bg;
      background-color: $navigation-color;
      display: flex;
      justify-content: space-around;
      align-items: center;
      transition: 1s;

      .theme {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        gap: 10px;
      }

      .amountTarget {
        display: flex;
        gap: 10px;
        p {
          padding: 10px;
          border-radius: 10px;
          font-weight: 700;
        }
        .amount {
          p {
            background-color: $element-color-1;
          }
        }
        .target {
          p {
            background-color: $element-color-3;
          }
        }
        label {
          font-size: 12px;
        }
      }

      span {
        font-size: large;
        font-weight: 600;
      }
      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .box:hover {
      cursor: pointer;
      box-shadow: 5px 5px 20px $element-color-3;
      transform: scale(1.05);
    }

    @include xxl {
      grid-template-columns: repeat(2, 1fr);
    }
    @include md {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: minmax(120px, auto);
      .box {
        span {
          font-size: medium;
        }
        p {
          padding: 15px;
          border-radius: 10px;
          font-weight: 700;
        }
      }
    }
    @include sm {
      .box {
        .theme {
          flex-direction: column;
          gap: 5px;
        }
        .amountTarget {
          flex-direction: column;
        }
      }
    }
  }
}
