@import "../../styles/responsive.scss";
@import "../../styles/variables.scss";

.transactions {
  .info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  .dataTable{
    margin: auto
  }

  @include md {
    .info {
      flex-direction: column;
    }
  }
}
